nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-bottom: 2%;
    background-color: black;
}
.nav-sm {
 width: 100vw;
 height: 4.5vh;
 min-width: 370px;

}

.logo-sm {
    width: 70%;

}

.darkmode-sm {
    width: 30%; 
    /* background-color: blue;  */

}

.darkmode-sm i {
    margin-left: 40%;
    color:#fff;
    cursor: pointer;
    
}



.slide {
    height: 100vh;
    width: 100vw;
    box-shadow: 2px 2px  red;
    background-color:rgba(0, 0, 0, 0.329);
    position: absolute;
    transition: 0.5s ease;
    transform: translateX(-650px);
    z-index: 100;

}

.slide h1 {
    color: black;
    font-weight: 600;
    z-index: 10000;

}

.slide ul li {
    list-style: none;
    display: block;
    background-color: white;
    margin: 1px;
    box-shadow: 2px 2px 4px gray;

}

.slide ul li a {
    color: #c98355;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease-out;
    text-align: center;
    padding: 20px 0px;

}

.slide ul li a:hover {
   background-color: rgba(0, 0, 0, 0.479);
   color: white;
   transition: 1s ease;

}
.sidebar input{
    display: none;
    visibility: hidden;  

}

.sidebar {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;

}

.toogleParent {
    position: fixed;
}

.toggle {
    position: absolute;
    height: 33px;
    width: 33px;
    min-width: 33px;
    top: 16px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px gray;
    background-color: black;

}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #c98355;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top-line{
    top: 20%;
    left: 21%;
    transform: -50%,-50%;
}
.toggle .middle-line{
    top: 45%;
    left: 21%;
    transform: -50%,-50%;
}
.toggle .bottom-line{
    top:70%;
    left: 21%;
    transform: -50%,-50%;
}

input:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 28px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 28px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle-line{
    opacity: 0;
    width: 28px;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 red;
}


@media  screen  and (min-width:576px) {

    .nav-sm {
        display: none !important; 
    }
    .sidebar input{
        display: none !important;
    }
    .toggle {
        display: none !important;
    }
    .slide{
        display: none !important;
    }
    .checkbox {
        display: none !important;
    }
    .toogleParent {
    position: fixed;
    display: none !important;
    }

    .checkbox {
        display: none !important;
    }
    
}


