@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Englebert&family=Mea+Culpa&family=Meow+Script&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}


/* styles section for the overall code  */

body{

    position: relative;
    
}

/* the styles section for the background video */

.text {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.644); /* Dark overlay for readability */
        z-index: 1;
    }
.background video {
    width:100%;
    height:100%;
    position :absolute ;
    top:0;
    left:0;
    z-index: -1000;
}

.background_video video {
    width:100%;
    position: fixed;
    height:100%;
    object-fit: cover;
    z-index: -1000;
}

/* code for the nav Section */
.navSectionLg {
        display: none  !important;
}

.navSectionLg {
    margin-bottom: 2%;
    position: absolute;
    top: 0%;
}

.navSection nav ul li {
    cursor: pointer;
    
}

.navSection {
    width: 70%;
}

.logo {
    animation :slideLeft 1s ;
    width: 15%;

}

.logo2 {
    animation :slideRight 1s ;
    width: 15%;

}



.listMirror {
    width: fit-content;
    height: 51px;
    /* css for the glass effect */
    background: rgba(255, 255, 255, 0.1);     /* Semi-transparent */
    backdrop-filter: blur(12px);             /* Frosted glass blur */
    -webkit-backdrop-filter: blur(12px);     /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    border-radius: 10px;                     /* Rounded corners */
    padding: 0px 40px;                      /* Inner spacing */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


.navSection nav ul li a {
    line-height: 50px;
    font-size:0.8rem;
    font-family: sans-serif;
}
.navSection nav ul li a:hover {
    color: #DAA520 !important;
    transition: 0.1s;
}

.blog {
    width: fit-content;
    height: fit-content;
    text-align: center;
    /* css for the glass effect */
    background: rgba(255, 255, 255, 0.1);     /* Semi-transparent */
    backdrop-filter: blur(12px);             /* Frosted glass blur */
    -webkit-backdrop-filter: blur(12px);     /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
                        /* Rounded corners */
                        /* Inner spacing */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.blog button:hover {
    background-color:#DAA520 ;
}

/* Start of the section 1 phase */

.sectionOne {
    margin-top: 5%;
    padding: 7% 10%;
    background-color: #ffffff0c;
    border-radius: 10px;
}

.sectionOne_text h1,h6 {
    color: #DAA520;
}



 


/* styles section for the media qurries */

@media  screen  and (min-width:576px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}

@media  screen  and (min-width:768px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:992px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:1200px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:1400px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}


/* key frames and animations */

.listMirror {
    animation :slideDown 1s ;
}

@keyframes slideDown {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideLeft {
    from {
        transform: translatex(-300px);
    }
    to {
        transform: translatex(0px);
    }
}

@keyframes slideRight {
    from {
        transform: translatex(300px);
    }
    to {
        transform: translatex(0px);
    }
}