*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STYLES OPTION FOR THE HEADER SECTION for the smaller screen  */
.headerInfo {
    gap: 1%;
    /* background-color:  blue; */
}

.headerInfo .logo {
    width: 60%;
    color: aqua;
    padding: 10px 10px 0px 0px;
    /* background-color: purple; */
}

.headerInfo .darkMode {
    width: 40%;
    display: flex;
    justify-content: end;
    padding:0% 4% 0% 0%;
    /* background-color: #fff; */
    gap: 6%;
}


.parentForHambuger{
    position: fixed;
    z-index: 100;
    top: 0;
}

/* STYLES  OPTION FOR THE SLIDE {WHOLE CONTAINER }*/
.slide{
    width:250px;
    box-shadow: 2px 2px 8px green;
    
    position: absolute;
    transition: 0.5s ease;
    transform: translateX(-250px);
}

/* STYLES OPTION FOR THE H1 {MENU SECTION} */
.slide h1{
    color:rgb(24, 236, 4);
    margin: 15px 5px 0px 25px ;
    pointer-events: none;
    font-weight: 800;
    font-size: 2.0rem;
    text-align: center;
}


/* STYLES OPTION FOR THE LIST */
.slide ul li{
    list-style: none;
    background-color: blue;
    margin: 0%;
    box-shadow: 2px 2px 4px gray;

}

/* STYLES OPTION FOR THE ANCHOR TAG */
ul li a{
    color: black;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease-out;
    text-align: center;
    padding: 20px 0px;
    

}

/* STYLES OPTION FOR THE HOVERING EFFECT  */
ul li a:hover{
   background-color: black;
   color: white;
   transition: 1s ease;
}
 /* STYLES OPTION FOR THE INPUT {THE CHECKBOX VISIBILITY} */
input{
    display: none;
    visibility: hidden;
    
}


.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 1px 10px 3px rgb(12, 8, 202);
    background-color: white;
}



.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:black; /* STYLES OPTION FOR THE ANIMATED X OPTION*/
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top-line{
    top: 20%;
    left: 20%;
    transform: -50%,-50%;
}
.toggle .middle-line{
    top: 45%;
    left: 20%;
    transform: -50%,-50%;
}
.toggle .bottom-line{
    top:70%;
    left: 20%;
    transform: -50%,-50%;
}


input:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle-line{
    opacity: 0;
    width: 25px;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 red;
}


@media  screen  and (min-width:576px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .toggle {
        display: none;
    }
    .slide{
        display: none;
    }
    
}


