*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/* styles section for the overall code  */

body{
    background-image: url(../images/b3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

/* code for the nav Section */


.navSectionLg {
    margin-bottom: 2%;
}

.navSection nav ul li {
    cursor: pointer;
    
}

.navSection {
    width: 70%;
}

.logo {
    width: 15%;
}

.listMirror {
    width: fit-content;
    height: 51px;
    /* css for the glass effect */
    background: rgba(255, 255, 255, 0.1);     /* Semi-transparent */
    backdrop-filter: blur(12px);             /* Frosted glass blur */
    -webkit-backdrop-filter: blur(12px);     /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    border-radius: 10px;                     /* Rounded corners */
    padding: 0px 40px;                      /* Inner spacing */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


.navSection nav ul li a {
    line-height: 50px;
    font-size:0.8rem;
    font-family: sans-serif;
}
.navSection nav ul li a:hover {
    color:blue !important;
    transition: 0.1s;
}

/* Start of the section 1 phase */


.sectionOne {
    margin-top: 5%;
}
.sectionOne_content {
    width: 100%;
    display:grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: blue;

}


.sectionOneA {
    width: 100%;
}

.sectionOneB {
    width: 100%;
}
.navSectionLg {
        display: none  !important;
    }





/* styles section for the media qurries */

@media  screen  and (min-width:576px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}

@media  screen  and (min-width:768px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:992px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:1200px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}
@media  screen  and (min-width:1400px) {
    .ParentDivForNAvsection {
        display: none !important;
    }
    .navSectionLg {
        display: block  !important;
    }
    .sectionOne_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr ;
    }

}


